{% extends "FormArmorBundle::user_layout.html.twig" %}
{% block FormArmor_body %}
	<h2>Bienvenue sur votre espace personnel</h2>
	Vous pourrez d'ici vous pré-inscrire à une formation ainsi que consulter l'historique de vos formations

{% endblock %}