{% extends "FormArmorBundle::user_layout.html.twig" %}
{% block FormArmor_body %}
	<h2>Bienvenue sur votre historique d'inscription</h2>
	Vous pourrez d'ici consulter l'historique de vos formations
<script>
		$(function() {
			$('#menu2').attr('class', 'active');
		});
	</script>
{% endblock %}