{% extends "FormArmorBundle::user_layout.html.twig" %}
{% block FormArmor_body %}
	<h2>Bienvenue sur votre  formulaire de pre-inscription</h2>
	Vous pourrez ici vous preinscrire
<script>
		$(function() {
			$('#menu1').attr('class', 'active');
		});
	</script>
{% endblock %}